/* System Settings */

:root {
    --color-accent: #607CE6;
    --color-dark: #333333;
    --color-light: #FFFFFF;
    --color-third: #D9D9D9;
    --color-gray: #888888;
    --color-light-gray: #F5F5F5;
}

html {
    max-width: 1440px;
    margin: 0 auto;
    
    font-family: 'Source Sans 3', sans-serif;
}

body {
    max-width: 1180px;
    margin: 0 auto;
}

/* Header, Navigation */

.header {
    height: 113px;
    margin-top: 32px;
}

.header-upper {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 180px;
    height: 38px;

    padding-top: 3px;
}

.header-contact {
    height: 45px;

    display: flex;
    gap: 20px;
}

.header-email {
    width: 280px;
    height: 45px;

    text-align: right;
}

.header-tel {
    width: 180px;
    height: 45px;

    text-align: right;
}

.header-text {
    font-size: 14px;
    line-height: 120%;

    color: var(--color-dark);
}

.header-link {
    font-size: 20px;
    font-weight: 600;

    color: var(--color-accent);
}

.header-line {
    margin-top: 32px;

    border: 1px solid var(--color-gray);
}

.header-lower {
    margin-top: 16px;

    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    gap: 44px;
}

.navigation-list-item a {
    font-size: 16px;

    color: var(--color-dark);
    text-decoration: none;
}

.call-me {
    display: flex;
    gap: 4px;
}

.telephone-icon {
    width: 15.98px;
    height: 15.98px;
}

.call-me a {
    color: var(--color-accent);
    line-height: 120%;
    text-transform: uppercase;
}

/* Hero Section */

.hero-section {
    height: 616px;
    margin-top: 80px;
}

.hero-section-text {
    height: 176px;

    display: flex;
    gap: 20px;
}

.hero-section-text h1 {
    width: 580px;

    font-size: 60px;
    font-weight: bold;
    line-height: 120%;

    color: var(--color-dark);
}

.hero-section-text p {
    width: 379px;
    padding-top: 26px;

    font-size: 16px;
    line-height: 120%;

    color: var(--color-dark);
}

.hero-image {
    width: 100%;
    height: 440px;
}

/* About Section */

.about-section {
    height: 602px;
    margin-top: 80px;
}

.about-section h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 120%;

    color: var(--color-dark)
}

.about-section-text {
    height: 200px;
    margin-top: 32px;

    column-count: 2;
    column-gap: 20px;
    column-fill: auto;

    color: var(--color-dark);
}

.about-section-text p:nth-child(1) {
    margin-bottom: 20px;
}

.about-section-pictures {
    margin-top: 32px;

    display: flex;
    gap: 20px;
}

/* Production Section */



/* Representative Offices Section */



/* News Section */



/* Footer, Navigation */

