/* System Settings */

:root {
    --color-accent: #607CE6;
    --color-dark: #333333;
    --color-light: #FFFFFF;
    --color-third: #D9D9D9;
    --color-gray: #888888;
    --color-light-gray: #F5F5F5;
}

html {
    max-width: 1440px;
    margin: 0 auto;
    
    font-family: 'Source Sans 3', sans-serif;
}

body {
    max-width: 1180px;
    margin: 0 auto;
}

/* Header, Navigation */



/* Hero Section */



/* About Section */



/* Production Section */



/* Representative Offices Section */



/* News Section */



/* Footer, Navigation */

